<div class="page-container">

  <div [ngClass]="visibleView == 'CONNEXION_VIEW' ? 'authentication-viewer-connexion' : 'authentication-viewer-inscription'">

<!--
    <div class="authentication-container view1">
-->
    <div [ngClass]="visibleView == 'CONNEXION_VIEW' ? 'authentication-container view1' : 'authentication-container view2'">

      <div class="page1">
        <app-authentication-view ></app-authentication-view>
      </div>

      <div class="page2">
        <app-inscription-view></app-inscription-view>
      </div>

    </div>

  </div>

</div>
