.page-container {
  min-height: 100vh;
  min-width: 100vw;
  /*background-color: #FBE9E7;*/
  background-color: #FFFFFF;
}

.authentication-viewer-connexion,
.authentication-viewer-inscription {
  top: 50%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  border-radius: 8px;
  background-color: #FFCCBC;
  border : 1px solid #dadce0;
  transform: translate(-50%, -50%);
}

.authentication-viewer-connexion {
  width: 448px;
  height: 500px;
  transition: width .2s, height .2s;
}

.authentication-viewer-inscription {
  width: 600px;
  height: 720px;
  transition: width .2s, height .2s;
}

.authentication-container {
  /*left: -100%;*/
  height: 100%;
  /*position: absolute;*/
  display: inline-block;
  width: calc(600px + 448px);
  background-color: #FFAB91;
}

.view1 {
  left: -600px;
  position: absolute;
  transition: left .2s;
}

.view2 {
  left: 0;
  position: absolute;
  transition: left .2s;
}

.page1,
.page2 {
  display: inline-block;
  float: right;
  height: 100%;
  /*width: calc(100% / 2);*/
}

.page1 {
  width: 448px;
  background-color: #FF8A65;
}

.page2 {
  width: 600px;
  background-color: #FF7043;
}
