.container {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FBE9E7;
}

.header {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 50px;
  background-color: #FFCCBC;
}

.page-content {
  margin: 0px;
  padding: 0px;
  min-width: 100%;
  display: inline-block;
  background-color: #FFAB91;
  min-height: calc(100vh - 50px);
}

.menu {
  margin: 0px;
  padding: 0px;
  display: inline;
  min-width: 200px;
  background-color: #FF8A65;
  min-height: calc(100vh - 50px);
}

.page {
  margin: 0px;
  padding: 0px;
  display: inline;
  background-color: #FF7043;
  min-height: calc(100vh - 50px);
  min-width: calc(100vw - 200px);
}
