.container {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background-color: #dd2c00;
}

.page-container {
  top: 50%;
  left: 50%;
  width: 488px;
  height: 500px;
  position: absolute;
  border-radius: 5px;
  background-color: #ff9e80;
  transform: translate(-50%, -50%);
}

.page {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.views {
  top: 0;
  left: -488px;
  position: absolute;
  min-width: calc(488px*2);
}

.views,
.view-inscription,
.view-authentication {
  min-height: 500px;
}

.view-inscription {
  min-width: 488px;
  background-color: #ff7043
}

.view-authentication {
  min-width: 488px;
  background-color: #ffccbc;
}

.view-inscription,
.view-authentication {
  display: inline-block;
}
